@font-face {
  font-family: 'Montserrat';
  src: url('/assets/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logo {
  font-weight: 700;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    color: #e53e3e;
  }
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-red {
  background-color: #e53e3e;
  color: white;
  border: none;

  &:hover {
    background-color: #c53030;
  }
}

.btn-border {
  background-color: transparent;
  color: #e53e3e;
  border: 1px solid #e53e3e;

  &:hover {
    background-color: rgba(229, 62, 62, 0.1);
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  nav {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.user-name {
  color: #be0c0c;
}


@media (max-width: 480px) {
  nav {
    gap: 0.5rem;
  }

  button {
    padding: 0.4rem 0.7rem;
    font-size: 0.9rem;
  }
}
